# Ignore depndencies
node_modules
vendor

# Ignore public resource
public/*
storage/*.key

# Ignore env
.env
.env.backup

# Orther
.phpunit.result.cache
npm-debug.log
package-lock.json
yarn-error.log
