<!DOCTYPE html>
<html>
	{# Bad #}
	<head>
		<title>{{ pageTitle }}</title>
	</head>
	<body>
		<h1>Hello, {{ UserName }}!</h1>
	</body>

	{# Good #}
	<head>
		<title>{{ page_title }}</title>
	</head>
	<body>
		<h1>Hello, {{ user_name }}!</h1>
	</body>
</html>

