.request-type {
     margin-right: 8px;
}

.headdt {
     position: relative;
}

.headdt h1 {
     position: absolute;
     top: 30px;
     left: 0;
     width: 100%;
     text-align: center;
     color: #FFF;
     font-weight: 800;
     text-shadow: 0 0 1px #333;
}

.sec-h-7 {
     padding: 20px 0;
}

.sec-h-7 h2 {
     margin-bottom: 42px;
}

.sec-h-7 img {
     width: 80px;
     height: auto;
}

.title-dangtin {
     line-height: 80px;
     font-weight: 700;
}

.sec-cta .item {
     padding: 40px 15px;
     text-align: center;
     color: #fff;
     height: 100%;
     position: relative;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#2866b0), to(rgba(12, 0, 0, .5)));
     background-image: -webkit-linear-gradient(top, #2866b0 0, rgba(12, 0, 0, .5) 100%);
     background-image: -o-linear-gradient(top, #2866b0 0, rgba(12, 0, 0, .5) 100%);
     background-image: linear-gradient(to bottom, #2866b0 0, rgba(12, 0, 0, .5) 100%);
}

.grid-space-0>[class*=col-] {
     padding-left: 0;
     padding-right: 0;
}

.btn.btn-3,
.btn.btn-2 {
     background: var(--primary-color);
     color: #FFF;
}

.menufooter h4 {
     margin-top: 26px;
}

.list-news-1 .s-item .img {
     float: left;
     margin-right: 25px;
     width: 130px;
}

.list-news-1 .s-item .title {
     font-size: 15px;
     line-height: 1.5;
     display: -webkit-box;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
     overflow: hidden;
     -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.s-item {
     width: 100%;
     margin: 5px 0 10px;
     clear: both;
}

.heading-seo {
     font-size: 18px;
     line-height: 24px;
     margin-top: 10px;
     margin-bottom: 5px;
     font-weight: 600;
     margin-bottom: 0;
     color: var(--primary-color);
}

.s-item .item h3 {
     font-size: 14px;
     color: #222;
}
