.re-banner-wrapper {
    padding-top: $header-height;

    .re-banner-image-wrapper {
        position: relative;
        height: 500px;
        border-radius: 2rem;

        .re-banner-image {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    .re-banner {



        .re-banner-info {
            padding-right: 70px;
            padding-top: 70px;

            .re-banner-description {
                color: $color-blue-light;
                padding-left: 1rem;
                border-left: solid 2px $color-orange;
            }
        }

        .re-banner-search {
            gap: 10px;
            width: 769px;
            z-index: 2;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(8px);
        }

        .re-banner-image {
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
