.re-checkbox-wrapper {
    * {
        box-sizing: border-box;
    }

    .label {
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        padding: 6px 8px;
        border-radius: 6px;
        overflow: hidden;
        transition: all 0.2s ease;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 6px;
        }

        &:hover {
            background: rgba(0, 119, 255, 0.06);

            span {
                &:first-child {
                    border-color: #07f;
                }
            }
        }

        span {
            float: left;
            vertical-align: middle;
            transform: translate3d(0, 0, 0);

            &:first-child {
                position: relative;
                width: 18px;
                height: 18px;
                border-radius: 4px;
                transform: scale(1);
                border: 1px solid #cccfdb;
                transition: all 0.2s ease;
                box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);

                svg {
                    position: absolute;
                    top: 3px;
                    left: 2px;
                    fill: none;
                    stroke: #fff;
                    stroke-width: 2;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 16px;
                    stroke-dashoffset: 16px;
                    transition: all 0.3s ease;
                    transition-delay: 0.1s;
                    transform: translate3d(0, 0, 0);
                }
            }

            &:last-child {
                padding-left: 8px;
                line-height: 18px;
            }
        }

        @media screen and (max-width: 640px) {
            width: 100%;
            display: inline-block;
        }
    }

    .input {
        position: absolute;
        visibility: hidden;

        &:checked {
            &+.label {
                span {
                    &:first-child {
                        background: #07f;
                        border-color: #07f;
                        animation: wave 0.4s ease;

                        svg {
                            stroke-dashoffset: 0;
                        }
                    }
                }
            }
        }
    }

    .inline-svg {
        position: absolute;
        width: 0;
        height: 0;
        pointer-events: none;
        user-select: none;
    }
}


